@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");
@import 'abstracts/mixins';

$color-grey: #f3f3f4;
$color-grey-2: #949495;
$color-black: #151515;
$color-background: #202022;
$color-white: #fff;

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: $color-white;
  background-color: $color-black;
  line-height: 1.6;

  @include responsive(phone-port) {
    padding: 0 1.25rem;
  }
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;

  #navbar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    height: 2rem;
    width: 100%;
    padding: 1rem 0;
    background-color: transparent;
    backdrop-filter: saturate(180%) blur(5px);
    -moz-backdrop-filter: saturate(180%) blur(5px);
    border-bottom: 1px solid #353535;
    z-index: 100;

    .logo {
      height: 100%;
      padding-left: 2rem;
      display: flex;
      align-items: center;

      #header-img {
        height: 1.2rem;
      }
    }

    .links {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .links ul {
      display: flex;
      justify-content: center;

      li {
        list-style-type: none;
        padding: 0 1rem;
      }

      a {
        text-decoration: none;
        color: $color-white;
      }
    }
  }

  #welcome-section {
    margin-top: 13rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    text-align: center;

    @include responsive(phone-port) {
      margin-top: 8rem;
      height: auto;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;

      @include responsive(phone-port) {
        font-size: 2rem;
      }
    }

    p {
      margin-bottom: 2.5rem;
    }

    .landing-text {
      max-width: 42rem;
      margin-bottom: 2rem;

      @include responsive(phone-port) {
        max-width: 100%;
      }

      &__top {
        font-size: 2.5rem;
        text-transform: uppercase;
        color: $color-grey-2;
      }

      &__bottom {
        display: block;
        text-transform: uppercase;
      }

      p {
        margin: 0 auto 2.5rem;
        width: 37rem;
        line-height: 1.6;
        color: $color-grey-2;

        @include responsive(phone-port) {
          width: 100%;
          font-size: 1rem;
        }

        .profile-highlight {
          color: $color-white;
        }
      }

      .cta {
        #email,
        #submit {
          border-radius: 6px;
          font-size: 0.875rem;
        }

        #email {
          padding: 0.8rem 0.8rem;
          width: 50%;
          border: none;
          background-color: $color-grey;
        }

        #submit {
          padding: 0.8rem 1.5rem;
          border: none;
          background-color: $color-white;
          color: $color-black;
        }
      }
    }
  }
}

main {
  #projects {
    padding: 0 2rem;
    
    @include responsive(phone-port) {
      padding: 0;
    }

    .project-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (max-width: 700px) {
         flex-wrap: nowrap;
         flex-direction: column;
      }

      @include responsive(phone-port) {
        flex-wrap: wrap;
         flex-direction: row;
      }

      .project-tile {
        width: 46%;
        height: 21rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
          0 10px 20px rgba(0, 0, 0, 0.05);
        margin-bottom: 10rem;
        border-radius: 6px;
        position: relative;

        @include responsive(phone-port) {
          height: 16rem;
          margin-bottom: 8rem;
        }

        .project {
            &__link {
                text-decoration: none;
                color: $color-grey-2;
                transition: color 0.2s ease-in-out;
      
                &:hover {
                  cursor: pointer;
                  color: $color-white;
                }
              }
      
              &__name {
                position: absolute;
                bottom: -48px;

                @include responsive(phone-port) {
                  bottom: -82px;
                  font-size: 1.25rem;
                }
              }
        }

      }

      .ozil,
      .stressless {
        @include responsive(phone-port) {
          margin-bottom: 10rem;
        }
      }
      .budget-me {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/portfoliov1-114c2.appspot.com/o/Screenshot%202020-07-10%20at%2002.46.40.png?alt=media&token=188d8109-36ac-46ba-b098-dbaf32ce3540");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      .social-media {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/portfoliov1-114c2.appspot.com/o/desktop-design-dark.jpg?alt=media&token=7762284d-3efb-4a2c-96d5-eca2a65a266d");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      .coming-soon {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/portfoliov1-114c2.appspot.com/o/desktop-preview.jpg?alt=media&token=2f63bd61-a5ef-4b15-b24b-568defe21447");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      .ozil {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/portfoliov1-114c2.appspot.com/o/ozil_design.jpg?alt=media&token=0bc10d26-91d2-4366-b261-20995a5cf4e2");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      .stressless {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/portfoliov1-114c2.appspot.com/o/stressless.png?alt=media&token=d00d1621-b769-4666-bb12-d9ba1c9dc95e");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }

  .section-heading {
    &-box {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 2.5rem;
    }

    &-text {
      font-weight: normal;
      color: $color-grey-2;
    }
  }

  #articles {
    padding: 0 2rem;
    margin-bottom: 5rem;

    @include responsive(phone-port) {
      padding: 0;
    }

    .article-list {
      display: flex;
      justify-content: space-between;

      @include responsive(phone-port) {
        width: 100%;
        flex-direction: column;
      }

      .article {
        width: 32%;
        transition: background-color 0.2s ease-in-out;
        padding: 1.5rem 0.8rem;
        border-radius: 6px;

        @include responsive(phone-port) {
          width: auto;
          text-align: center;
        }

        a {
          text-decoration: none;
          color: $color-white;
        }
        &__title {
          margin-bottom: 0.8rem;
          color: $color-grey;
        }

        &__highlight {
          font-size: 0.8rem;
          color: $color-grey-2;
        }

        &:hover {
          background-color: $color-background;
        }
      }
    }
  }

  #contact-me {
    color: $color-grey-2;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    .social-link {
      padding: 0 0.8rem;

      a {
        text-decoration: none;
        color: $color-grey-2;
      }
    }
  }
}
